nav {
  background-color: lightblue;
  color: white;
  display: flex;
  justify-content: center;
}

.container {
  float: left;
}
.container-1 {
  background-color: lightblue;
  color: white;
  float: left;
}
